target
node_modules
.idea
*.iml
*.log
*.class
*.jar
*.war
*.ear
*.db
*.sql
*.sqlite
*.bak
*.tmp
.DS_Store
*.swp
*.swo
*.swn
*.sln
*.suo
*.user
*.cache
*.project
*.settings
*.vscode
*.env
*.env.local
*.env.development
*.env.test
*.env.production